@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Montserrat:wght@100;300;400;500;700;900&family=Noto+Kufi+Arabic:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {

    --color-red: #b92121;
    --color-dark-red: #940101;
    --color-light-gray: #878787;
    --color-white: #fbfbf1;
    --color-dark-gray: #2d2d2d;
    --color-black: #0a0a0a;
    --container-width-lg: 90%;
    --container-width-md: 90%;
    --container-width-sm: 80%;
    --container-width-very-sm: 75%;
    --transition: 400ms all ease;
}

body {
    background: var(--color-white);
    font-family: Montserrat, sans-serif;
    color: var(--color-black);
}

img {
    max-width: 100%;
}

section {
    padding: 4rem 0;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 2.8rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    color: var(--color-dark-gray);
    font-size: 1rem;
    padding: 1rem 0;
}

section {
    padding: 4rem 0;
}

.subtitulo {
    color: var(--color-red);
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.punto {
    font-size: 2rem;
    color: var(--color-red);
}

.btn {
    font-family: Montserrat, Sans-serif;
    font-size: .8rem;
    background-color: var(--color-red);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 2px;
    padding: .8rem 1rem;
    border-radius: 40px;
    transition: var(--transition);
    border: 1.5px solid var(--color-red);
}

.btn2 {
    background: none;
    font-family: Montserrat, Sans-serif;
    font-size: .8rem;
    color: var(--color-dark-gray);
    font-weight: 400;
    letter-spacing: 2px;
    padding: .8rem 1rem;
    border-radius: 40px;
    transition: var(--transition);
    border: 1.5px solid var(--color-dark-gray);
    cursor: pointer;
}

.btn3 {
    font-family: Montserrat, Sans-serif;
    font-size: .8rem;
    color: var(--color-white);
    background: none;
    font-weight: 400;
    letter-spacing: 2px;
    padding: .8rem 1rem;
    border-radius: 40px;
    transition: var(--transition);
    border: 1.5px solid var(--color-white);
    cursor: pointer;
}

.btn3:hover {
    color: var(--color-white);
    font-weight: 500;
    background-color: var(--color-red);
    border: 1.5px solid var(--color-red);
}

.btn:hover {
    color: #878787;
    border: 1.5px solid var(--color-light-gray);
    background: none;
    cursor: pointer;
}

.circulo {
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    color: var(--color-red);
}

.saber_mas {
    color: #0a0a0a;
    padding-left: 2rem;
    transition: var(--transition);
}

.saber_mas:hover {
    color: var(--color-red);
    font-weight: 500;
}

.txt_color {
    background: linear-gradient(45deg, var(--color-red), var(--color-dark-red));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/* MENU-------------------------------------  */
header {
    width: 100%;
}

.navigation {
    width: var(--container-width-lg);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: transparent;
    transition: var(--transition);
}

.menu {
    display: flex;
}

.menu_item {
    font-size: .9rem;
    margin-right: 3rem;
    font-weight: 400;
}

.menu_item a {
    text-decoration: none;
    color: var(--color-light-gray);
    transition: var(--transition);
}

.menu_item a:hover {
    color: var(--color-red);
}

.active {
    color: var(--color-red);
    font-weight: 500;
}

.logo img {
    width: 40%;
    height: 100%;
}

.sticky {

    position: fixed;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 3;
}

/* PORTADA_________________ */

.portada_container {
    width: var(--container-width-lg);
    display: flex;
    margin: 0 auto;
}

.portada_txt {
    width: 40%;
}

.portada_img {
    max-width: 60%;
    padding-left: 4rem;
    margin-top: -3rem;
}

.portada_img img {
    width: 100%;
}

.portada_btn{
   display: flex;
   gap: 1rem;
}

/* SERVICIOS_________________  */

.servicios {
    -webkit-box-shadow: 0px -6px 30px 0px rgba(203, 203, 203, 0.9);
    -moz-box-shadow: 0px -6px 30px 0px rgba(203, 203, 203, 0.9);
    box-shadow: 0px -6px 30px 0px rgba(203, 203, 203, 0.9);
}

.servicios_container {
    margin: 0 auto;
    width: var(--container-width-lg);
    display: flex;
    gap: 2rem;
}

.servicios_txt {
    margin-top: 5rem;
    padding-left: 3rem;
    width: 50%;
}

.servicios_btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.servicios_elementos {
    width: 50%;
    display: flex;
    gap: 2rem;
}

.servicios_elementos_izq {
    margin-top: -50px;
}

.servicios_elementos_izq a {
    text-decoration: none;
}

.servicios_elemento {
    background: var(--color-red);
    margin-bottom: 2rem;
    padding: 4rem 2rem 1.5rem;
    color: var(--color-white);
    border: 3px solid var(--color-red);
    -webkit-box-shadow: -18px 14px 27px -7px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -18px 14px 27px -7px rgba(0, 0, 0, 0.42);
    box-shadow: -18px 14px 27px -7px rgba(0, 0, 0, 0.42);
    transition: var(--transition);
}

.servicios_elemento p {
    font-size: .9rem;
    color: inherit;
    line-height: 1.5;
}

.servicios_elemento:hover {
    background: none;
    color: var(--color-dark-red);
    cursor: pointer;
}

/* OBJETIVOS_________________ */

.objetivos {
    background: var(--color-black);
    padding: 6rem 0;
    -webkit-box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
}

.objetivos_container {
    width: 60%;
    margin: 0 auto;
    color: var(--color-white);
    text-align: center;
}

.objetivos_container h2 {
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
}

.objetivos_container p {
    color: var(--color-light-gray);
    font-size: .9rem;
    line-height: 1.5;
}

/* PROCESO_________________ */


.proceso {
    padding: 5rem 0;
}

.proceso_container {
    text-align: center;
    width: var(--container-width-sm);
    margin: 0 auto;
    z-index: -1;
}

.proceso_txt .subtitulo {
    padding-bottom: .5rem;
}

.proceso_txt p {
    width: 90%;
    margin: 0 auto;
}

.timeline-section {
    min-height: 100vh;
    padding: 4rem 0 2rem;
    width: 70%;
    margin: 0 auto;
}

.timeline-items {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--color-light-gray);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: center;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: var(--color-dark-red);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 18px;
    color: var(--color-red);
    margin: 6px 0 15px;
}

.timeline-content {
    padding: 2rem;
    background: var(--color-black);
    -webkit-box-shadow: -18px 14px 27px -7px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -18px 14px 27px -7px rgba(0, 0, 0, 0.42);
    box-shadow: -18px 14px 27px -7px rgba(0, 0, 0, 0.42);
}

.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}




/* PROYECTOS DESTACADOS_________________  */

.proyectos {
    background: var(--color-black);
    color: white;
    padding-top: 7rem;
}

.proyectos_container {
    width: var(--container-width-md);
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}

.proyectos_txt {
    margin-top: 10%;
    width: 50%;
}

.proyectos_titulo p {
    padding-bottom: 1rem;
}

.proyectos_txt p {
    color: var(--color-light-gray);
}

.proyectos_btn {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.proyectos_elementos {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
}

.proyectos_elementos_izq {
    width: 45%;
}

.proyectos_elementos_der {
    width: 55%;
    margin-top: -3rem;
}

.proyecto_elemento {
    margin-bottom: 2rem;
    transition: var(--transition);
    box-shadow: rgba(249, 7, 7, 0.7);
}

.proyecto_elemento_txt {
    border: 1.5px solid var(--color-dark-gray);
    border-top: none;
    padding: 1rem;
    text-align: center;
    margin-top: -5px;
}

.proyecto_elemento_txt p {
    color: var(--color-light-gray);
}

.proyecto_img img {
    width: 100%;
}

.proyecto_elemento:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* NOTICIAS_________________  */

.noticias_txt {
    width: var(--container-width-sm);
    margin: 0 auto;
    text-align: center;
}

.noticias_txt .subtitulo {
    padding-bottom: 0;
}


/* FOOTER_________ */

.footer {
    background: var(--color-black);
    -webkit-box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
}

.footer_container {
    width: var(--container-width-md);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 auto;
}

.footer_logo img {
    width: 100%;
}

.footer_brand p {
    color: var(--color-light-gray);
}

.footer_section {
    padding: 3rem 2rem;
    font-size: 1rem;
    color: var(--color-white);
}

.footer_section h4 {
    margin-bottom: 1.2rem;
}

.footer_section ul li {
    margin-bottom: 0.7rem;
}

.footer_section ul li a {
    color: var(--color-light-gray);
    font-weight: 400;
    transition: var(--transition);
}

.footer_section ul li a:hover {
    color: var(--color-white);
    font-weight: 500;
}

.footer_container h4 {
    color: var(--color-red);
}

.footer_socials {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.footer_socials i {
    color: var(--color-light-gray);
    font-size: 1.5rem;
    transition: var(--transition);
}

.footer_socials i:hover {
    color: var(--color-red);
    font-size: 1.7rem;

}

.footer-copyright {
    color: var(--color-white);
    text-align: center;
    padding: 1rem 0 2rem;
    border-top: 1px solid var(--color-dark-gray);
}


/* RESPONSIVE______________________________ */

/* TABLETS----------- */
@media (max-width: 991.98px) {

    h1 {
        font-size: 2.3rem;
    }

    .circulo {
        font-size: 1.9rem;
    }

    .btn,
    .btn2,
    .btn3 {
        margin: 0 auto;
    }

    .navigation {
        display: none;
    }

    .portada_container {
        margin: 0 auto;
        width: 95%;
        flex-direction: column;
    }

    .portada_txt {
        margin: 0 auto;
        text-align: center;
        line-height: normal;
        padding-bottom: 2rem;
        width: 90%;
    }

    .portada_img {
        padding-top: 2rem;
        margin: 0 auto;
        max-width: 95%;
    }

    /* servicios______ */
    .servicios_container {
        margin: 0 auto;
        text-align: center;
        margin-top: -5rem;
        flex-direction: column-reverse;
    }

    .servicios_txt {
        width: 100%;
        padding-bottom: 2rem;
    }

    .servicios_elementos {
        width: 100%;
        margin: 0 auto;
    }

    .servicios_elementos_izq {
        margin: 0 auto;
    }

    /* proyectos */
    .proyectos_container {
        margin-top: -5rem;
        flex-direction: column;
    }

    .proyectos_txt {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .proyectos_btn a {
        padding: .5rem;
    }

    .proyectos_elementos_der {
        margin: 0 auto;
        width: 50%;
    }


    /* footer */

    .footer_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

}

/* MOVILES----------- */
@media(max-width: 767px) {

    h1 {
        font-size: 1.9rem;
    }

    p {
        font-size: 1rem;
    }

    .circulo {
        font-size: 1.9rem;
    }

    .btn,
    .btn2,
    .btn3 {
        margin: 0 auto;
    }

    .navigation {
        display: none;
    }

    .portada_container {
        margin: 0 auto;
        width: 95%;
        flex-direction: column;
    }

    .portada_txt {
        margin: 0 auto;
        text-align: center;
        line-height: normal;
        padding-bottom: 2rem;
        width: 95%;
    }

    .portada_btn {
        display: flex;
        justify-content: center;
    }

    .portada_img {
        width: 95%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    /* servicios______ */
    .servicios_container {
        margin: 0 auto;
        text-align: center;
        margin-top: -5rem;
        flex-direction: column-reverse;
    }

    .servicios_elementos {
        flex-direction: column;
    }

    .servicios_txt {
        width: 100%; 
        margin: 0 auto; 
        padding: 3rem 20px 2rem; 
    }

    /* objetivos */

    .objetivos_container{
        width: var(--container-width-lg);
    }

     /*LINEA DE TIEMPO*/

     .timeline-section{
        width: 95%;
     }

     .timeline-content h3{
        font-size: 1rem;
     }

     .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 1.5rem;
        text-align: left;
    }

    .timeline-dot {
        left: 0;
    }

    /* proyectos */
    .proyectos_elementos {
        display: flex;
        flex-direction: column;
    }

    .proyectos_elementos_izq,
    .proyectos_elementos_der {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    /* footer */

    .footer_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        text-align: center;
        padding: 4rem 0;
    }

    .footer_section {
        padding: 0;
    }

    .footer_brand {
        width: 70%;
        margin: 0 auto;
    }

    .footer_socials{
        width: 50%;
        padding-top: 1rem;
        margin: 0 auto;
    }

   
}